In [166]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

import datetime as dt
import statsmodels.api as sm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [167]:
data = pd.read_csv("20200201_new_housing.csv")

In [168]:
data.head()

   Unnamed: 0        RegionName variable   value
0           0      Logan Square  2018-01  382712
1           1    Little Village  2018-01  133000
2           2  West Rogers Park  2018-01  293734
3           3      South Austin  2018-01  140485
4           4       Albany Park  2018-01  325903

In [169]:
data.dtypes

Unnamed: 0     int64
RegionName    object
variable      object
value          int64
dtype: object

In [170]:
data.columns

Index(['Unnamed: 0', 'RegionName', 'variable', 'value'], dtype='object')

In [171]:
data = data.drop(["Unnamed: 0"],axis=1)
data.head()

         RegionName variable   value
0      Logan Square  2018-01  382712
1    Little Village  2018-01  133000
2  West Rogers Park  2018-01  293734
3      South Austin  2018-01  140485
4       Albany Park  2018-01  325903

In [172]:
#data["RegionName"].str.get_dummies()
neighborhoods=data["RegionName"].str.get_dummies()
neighborhoods.head()

,Aberdeen,Aetna,Ainsworth,Albany Park,Allendale,Altgeld Gardens,Ambrige Mann,Andersonville,Arcadia Terrace,Archer Heights,...,Wicker Park,Wildwood,Wilson,Winfield,Winneconna Parkway,Woodlawn,Woodmar,Wrightwood,Wrightwood Neighbors,Wrigleyville
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [173]:
pd.to_datetime(data["variable"], format="%Y-%m", errors='ignore')

0      2018-01-01
1      2018-01-01
2      2018-01-01
3      2018-01-01
4      2018-01-01
5      2018-01-01
6      2018-01-01
7      2018-01-01
8      2018-01-01
9      2018-01-01
10     2018-01-01
11     2018-01-01
12     2018-01-01
13     2018-01-01
14     2018-01-01
15     2018-01-01
16     2018-01-01
17     2018-01-01
18     2018-01-01
19     2018-01-01
20     2018-01-01
21     2018-01-01
22     2018-01-01
23     2018-01-01
24     2018-01-01
25     2018-01-01
26     2018-01-01
27     2018-01-01
28     2018-01-01
29     2018-01-01
          ...
6930   2019-12-01
6931   2019-12-01
6932   2019-12-01
6933   2019-12-01
6934   2019-12-01
6935   2019-12-01
6936   2019-12-01
6937   2019-12-01
6938   2019-12-01
6939   2019-12-01
6940   2019-12-01
6941   2019-12-01
6942   2019-12-01
6943   2019-12-01
6944   2019-12-01
6945   2019-12-01
6946   2019-12-01
6947   2019-12-01
6948   2019-12-01
6949   2019-12-01
6950   2019-12-01
6951   2019-12-01
6952   2019-12-01
6953   2019-12-01
6954   2019-12-01
6955   2019-12-01
6956   2019-12-01
6957   2019-12-01
6958   2019-12-01
6959   2019-12-01
Name: variable, Length: 6960, dtype: datetime64[ns]

In [174]:
data["Date"] = pd.to_datetime(data["variable"], format="%Y-%m", errors='ignore')
data.head()

         RegionName variable   value       Date
0      Logan Square  2018-01  382712 2018-01-01
1    Little Village  2018-01  133000 2018-01-01
2  West Rogers Park  2018-01  293734 2018-01-01
3      South Austin  2018-01  140485 2018-01-01
4       Albany Park  2018-01  325903 2018-01-01

In [175]:
data=data.drop(["variable"],axis=1)
data.head()

         RegionName   value       Date
0      Logan Square  382712 2018-01-01
1    Little Village  133000 2018-01-01
2  West Rogers Park  293734 2018-01-01
3      South Austin  140485 2018-01-01
4       Albany Park  325903 2018-01-01

In [176]:
data["Year"] = pd.DatetimeIndex(data["Date"]).year
data.head()

         RegionName   value       Date  Year
0      Logan Square  382712 2018-01-01  2018
1    Little Village  133000 2018-01-01  2018
2  West Rogers Park  293734 2018-01-01  2018
3      South Austin  140485 2018-01-01  2018
4       Albany Park  325903 2018-01-01  2018

In [177]:
data["Month"] = pd.DatetimeIndex(data["Date"]).month
data.head()

         RegionName   value       Date  Year  Month
0      Logan Square  382712 2018-01-01  2018      1
1    Little Village  133000 2018-01-01  2018      1
2  West Rogers Park  293734 2018-01-01  2018      1
3      South Austin  140485 2018-01-01  2018      1
4       Albany Park  325903 2018-01-01  2018      1

In [178]:
##ata=data.drop(["variable"],axis=1)
#data.head()

In [179]:
full_dataset = pd.concat([data,neighborhoods],axis=1)
full_dataset

,RegionName,value,Date,Year,Month,Aberdeen,Aetna,Ainsworth,Albany Park,Allendale,...,Wicker Park,Wildwood,Wilson,Winfield,Winneconna Parkway,Woodlawn,Woodmar,Wrightwood,Wrightwood Neighbors,Wrigleyville
0,Logan Square,382712,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Little Village,133000,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,West Rogers Park,293734,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,South Austin,140485,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Albany Park,325903,2018-01-01,2018,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,Uptown,289270,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Lake View,528449,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Rogers Park,211116,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Gresham,122564,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Brighton Park,171176,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Englewood,50054,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Jefferson Park,300193,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Portage Park,297906,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,South Loop,378823,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Humboldt Park,270791,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Gage Park,146336,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Bridgeport,331141,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Edgewater,232301,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Lake View East,315186,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,South Shore,100881,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Cragin,256914,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Back of the Yards,83607,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,West Lawn,190736,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Bronzeville,239913,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Belmont Central,255699,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Marquette Park,147073,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Garfield Ridge,229784,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Near North,427144,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,West Pullman,84402,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,South Chicago,102565,2018-01-01,2018,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6930,Northeast,431950,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6931,Southport,201348,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6932,Bain Park,108824,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6933,Stateway Gardens,249574,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6934,Lithuanian Plaza,154657,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6935,Hill Arts District,266255,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6936,Heart of Italy,233323,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6937,Old Edgebrook,646333,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6938,The Villa,496516,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6939,Beverly View,166886,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6940,Eden Green,62096,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6941,Pleasent Street,119529,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6942,Mount Greenwood Heights,253400,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6943,Cabrini Green,439776,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6944,Schorsch Forest View,334967,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6945,Riverdale,52958,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6946,Groveland Park,371627,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6947,Hessville,118053,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6948,Robertsdale,136248,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6949,Fernway Park,201486,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6950,Ridgewood,111448,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6951,South Lockport,164952,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6952,Southmoor,345138,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6953,Aberdeen,344595,2019-12-01,2019,12,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6954,Ainsworth,174601,2019-12-01,2019,12,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6955,Indiana Harbor,48799,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6956,Lincoln Hills,232497,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6957,Sylvan Manor,296050,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6958,Woodmar,117942,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6959,Brynford Park,364341,2019-12-01,2019,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [180]:
model_dataset = full_dataset.drop(["RegionName","Date"],axis=1)
model_dataset.head()

,value,Year,Month,Aberdeen,Aetna,Ainsworth,Albany Park,Allendale,Altgeld Gardens,Ambrige Mann,...,Wicker Park,Wildwood,Wilson,Winfield,Winneconna Parkway,Woodlawn,Woodmar,Wrightwood,Wrightwood Neighbors,Wrigleyville
0,382712,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,133000,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,293734,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,140485,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,325903,2018,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [181]:
x_data = model_dataset.drop(["value"],axis=1)
x_data.head()

,Year,Month,Aberdeen,Aetna,Ainsworth,Albany Park,Allendale,Altgeld Gardens,Ambrige Mann,Andersonville,...,Wicker Park,Wildwood,Wilson,Winfield,Winneconna Parkway,Woodlawn,Woodmar,Wrightwood,Wrightwood Neighbors,Wrigleyville
0,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2018,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
y_data = model_dataset["value"]
y_data.head()

0    382712
1    133000
2    293734
3    140485
4    325903
Name: value, dtype: int64

In [183]:
x_data = sm.add_constant(x_data)
model = sm.OLS(y_data, x_data).fit()
predictions = model.predict(x_data)

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.985
Model:                            OLS   Adj. R-squared:                  0.985
Method:                 Least Squares   F-statistic:                     1574.
Date:                Tue, 04 Feb 2020   Prob (F-statistic):               0.00
Time:                        19:32:02   Log-Likelihood:                -78824.
No. Observations:                6960   AIC:                         1.582e+05
Df Residuals:                    6672   BIC:                         1.602e+05
Df Model:                         287
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                             -4.192e+06   9.88e+05     -4.244      0.000   -6.13e+06   -2.26e+06
Year                               2219.1118    491.071      4.519      0.000    1256.455    3181.768
Month                                45.7989     71.127      0.644      0.520     -93.634     185.231
Aberdeen                           4.319e+04   5417.592      7.971      0.000    3.26e+04    5.38e+04
Aetna                             -2.378e+05   5417.592    -43.891      0.000   -2.48e+05   -2.27e+05
Ainsworth                         -1.221e+05   5417.592    -22.542      0.000   -1.33e+05   -1.12e+05
Albany Park                        3.368e+04   5417.592      6.218      0.000    2.31e+04    4.43e+04
Allendale                         -9.306e+04   5417.592    -17.178      0.000   -1.04e+05   -8.24e+04
Altgeld Gardens                    -1.96e+05   5417.592    -36.179      0.000   -2.07e+05   -1.85e+05
Ambrige Mann                      -2.559e+05   5417.592    -47.234      0.000   -2.67e+05   -2.45e+05
Andersonville                      1.641e+05   5417.592     30.298      0.000    1.54e+05    1.75e+05
Arcadia Terrace                    5.403e+04   5417.592      9.972      0.000    4.34e+04    6.46e+04
Archer Heights                    -8.456e+04   5417.592    -15.608      0.000   -9.52e+04   -7.39e+04
Arrow Wood                        -6.418e+04   5417.592    -11.847      0.000   -7.48e+04   -5.36e+04
Ashburn                           -1.124e+05   5417.592    -20.746      0.000   -1.23e+05   -1.02e+05
Avalon Park                        -1.62e+05   5417.592    -29.900      0.000   -1.73e+05   -1.51e+05
Avondale                           1.072e+05   5417.592     19.793      0.000    9.66e+04    1.18e+05
Back of the Yards                 -1.958e+05   5417.592    -36.149      0.000   -2.06e+05   -1.85e+05
Bain Park                         -1.907e+05   5417.592    -35.205      0.000   -2.01e+05    -1.8e+05
Belmont Central                   -3.095e+04   5417.592     -5.713      0.000   -4.16e+04   -2.03e+04
Belmont Gardens                   -1.972e+04   5417.592     -3.640      0.000   -3.03e+04   -9097.525
Belmont Heights                   -2.088e+04   5417.592     -3.853      0.000   -3.15e+04   -1.03e+04
Belmont Terrace                   -1.932e+04   5417.592     -3.567      0.000   -2.99e+04   -8703.317
Beverly                            5.197e+04   5417.592      9.594      0.000    4.14e+04    6.26e+04
Beverly View                      -1.287e+05   5417.592    -23.755      0.000   -1.39e+05   -1.18e+05
Beverly Woods                      -7.19e+04   5417.592    -13.272      0.000   -8.25e+04   -6.13e+04
Big Oaks                           7601.6795   5417.592      1.403      0.161   -3018.533    1.82e+04
Big Woods                         -4.315e+04   5417.592     -7.965      0.000   -5.38e+04   -3.25e+04
Black Oak                         -2.338e+05   5417.592    -43.164      0.000   -2.44e+05   -2.23e+05
Blackhawk                         -1.113e+05   5417.592    -20.541      0.000   -1.22e+05   -1.01e+05
Boulder Hill                      -1.097e+05   5417.592    -20.244      0.000    -1.2e+05   -9.91e+04
Boulevard District                -9.377e+04   5417.592    -17.309      0.000   -1.04e+05   -8.32e+04
Bowmanville                        2.262e+05   5417.592     41.757      0.000    2.16e+05    2.37e+05
Brainerd                          -1.526e+05   5417.592    -28.164      0.000   -1.63e+05   -1.42e+05
Bridgeport                          5.46e+04   5417.592     10.078      0.000     4.4e+04    6.52e+04
Brighton Park                     -1.085e+05   5417.592    -20.034      0.000   -1.19e+05   -9.79e+04
Bronzeville                       -3.892e+04   5417.592     -7.184      0.000   -4.95e+04   -2.83e+04
Brynford Park                       8.48e+04   5417.592     15.654      0.000    7.42e+04    9.54e+04
Bucktown                           2.885e+05   5417.592     53.252      0.000    2.78e+05    2.99e+05
Budlong Woods                      2.031e+04   5417.592      3.750      0.000    9693.676    3.09e+04
Burnside                          -1.694e+05   5417.592    -31.271      0.000    -1.8e+05   -1.59e+05
Cabrini Green                        1.5e+05   5417.592     27.680      0.000    1.39e+05    1.61e+05
Calumet Heights                    -1.48e+05   5417.592    -27.323      0.000   -1.59e+05   -1.37e+05
Calumet River                     -2.175e+05   5417.592    -40.152      0.000   -2.28e+05   -2.07e+05
Canaryville                       -4.446e+04   5417.592     -8.207      0.000   -5.51e+04   -3.38e+04
Central Business District         -9.125e+04   5417.592    -16.843      0.000   -1.02e+05   -8.06e+04
Central Street                     2.637e+05   5417.592     48.678      0.000    2.53e+05    2.74e+05
Chatham                           -1.477e+05   5417.592    -27.264      0.000   -1.58e+05   -1.37e+05
Chicago Lawn                       -1.32e+05   5417.592    -24.364      0.000   -1.43e+05   -1.21e+05
Chicago-Dempster                   2.723e+05   5417.592     50.254      0.000    2.62e+05    2.83e+05
Chinatown                          4.609e+04   5417.592      8.508      0.000    3.55e+04    5.67e+04
Chrysler Village                  -1.245e+05   5417.592    -22.973      0.000   -1.35e+05   -1.14e+05
Clearing                          -6.432e+04   5417.592    -11.872      0.000   -7.49e+04   -5.37e+04
Columbus                          -1.971e+05   5417.592    -36.382      0.000   -2.08e+05   -1.86e+05
Cottage Grove Heights             -1.829e+05   5417.592    -33.754      0.000   -1.93e+05   -1.72e+05
Cragin                            -2.805e+04   5417.592     -5.177      0.000   -3.87e+04   -1.74e+04
Crystal Lawns                     -1.014e+05   5417.592    -18.717      0.000   -1.12e+05   -9.08e+04
Dearborn Park                      1.636e+05   5417.592     30.200      0.000    1.53e+05    1.74e+05
Douglas Park                      -1.119e+05   5417.592    -20.658      0.000   -1.23e+05   -1.01e+05
Downtown                           4.677e+04   4546.372     10.288      0.000    3.79e+04    5.57e+04
Dunning                           -2.791e+04   5417.592     -5.152      0.000   -3.85e+04   -1.73e+04
East Beverly                      -5.734e+04   5417.592    -10.584      0.000    -6.8e+04   -4.67e+04
East Chatham                      -2.016e+05   5417.592    -37.210      0.000   -2.12e+05   -1.91e+05
East Garfield Park                -1.319e+05   5417.592    -24.342      0.000   -1.42e+05   -1.21e+05
East Hyde Park                    -5.315e+04   5417.592     -9.810      0.000   -6.38e+04   -4.25e+04
East Pilsen                        5.639e+04   5417.592     10.408      0.000    4.58e+04     6.7e+04
East Side                         -1.659e+05   5417.592    -30.616      0.000   -1.76e+05   -1.55e+05
East Ukrainian Village              2.29e+05   5417.592     42.268      0.000    2.18e+05     2.4e+05
Eden Green                        -2.284e+05   5417.592    -42.153      0.000   -2.39e+05   -2.18e+05
Edgebrook                          1.589e+05   5417.592     29.331      0.000    1.48e+05     1.7e+05
Edgewater                         -5.116e+04   5417.592     -9.444      0.000   -6.18e+04   -4.05e+04
Edgewater Glen                     1.657e+05   5417.592     30.576      0.000    1.55e+05    1.76e+05
Edison Park                        7.232e+04   5417.592     13.349      0.000    6.17e+04    8.29e+04
Englewood                         -2.356e+05   5417.592    -43.490      0.000   -2.46e+05   -2.25e+05
Fernway Park                      -7.584e+04   5417.592    -14.000      0.000   -8.65e+04   -6.52e+04
Fernwood                          -2.043e+05   5417.592    -37.711      0.000   -2.15e+05   -1.94e+05
Fifth City                        -1.057e+05   5417.592    -19.519      0.000   -1.16e+05   -9.51e+04
Forest Glen                        8.254e+04   5417.592     15.236      0.000    7.19e+04    9.32e+04
Forest Park                       -1.124e+05   5417.592    -20.756      0.000   -1.23e+05   -1.02e+05
Fuller Park                       -1.871e+05   5417.592    -34.533      0.000   -1.98e+05   -1.76e+05
Fulton River District              1.758e+05   5417.592     32.447      0.000    1.65e+05    1.86e+05
Gage Park                          -1.33e+05   5417.592    -24.553      0.000   -1.44e+05   -1.22e+05
Galewood                          -2.384e+04   5417.592     -4.400      0.000   -3.45e+04   -1.32e+04
Garfield Ridge                    -5.445e+04   5417.592    -10.050      0.000   -6.51e+04   -4.38e+04
Georgetown                        -9.768e+04   5417.592    -18.031      0.000   -1.08e+05   -8.71e+04
Gladstone Park                     2.112e+04   5417.592      3.899      0.000    1.05e+04    3.17e+04
Gold Coast                         2.397e+05   5417.592     44.247      0.000    2.29e+05     2.5e+05
Golden Gate                       -2.428e+05   5417.592    -44.814      0.000   -2.53e+05   -2.32e+05
Goose Island                       1.946e+05   5417.592     35.928      0.000    1.84e+05    2.05e+05
Graceland West                     3.534e+05   5417.592     65.238      0.000    3.43e+05    3.64e+05
Grand Crossing                    -1.873e+05   5417.592    -34.579      0.000   -1.98e+05   -1.77e+05
Grant                             -1.367e+05   5417.592    -25.240      0.000   -1.47e+05   -1.26e+05
Greek Rows                        -1.297e+05   5417.592    -23.940      0.000    -1.4e+05   -1.19e+05
Greektown                          1.416e+05   5417.592     26.136      0.000    1.31e+05    1.52e+05
Green Oaks                         2.527e+05   5417.592     46.641      0.000    2.42e+05    2.63e+05
Gresham                           -1.613e+05   5417.592    -29.778      0.000   -1.72e+05   -1.51e+05
Groveland Park                     7.728e+04   5417.592     14.265      0.000    6.67e+04    8.79e+04
Hanson Park                       -5.549e+04   5417.592    -10.243      0.000   -6.61e+04   -4.49e+04
Harbor Side                       -1.547e+05   5417.592    -28.546      0.000   -1.65e+05   -1.44e+05
Heart of Chicago                  -4.112e+04   5417.592     -7.590      0.000   -5.17e+04   -3.05e+04
Heart of Italy                    -4.508e+04   5417.592     -8.321      0.000   -5.57e+04   -3.45e+04
Hegewisch                         -1.576e+05   5417.592    -29.094      0.000   -1.68e+05   -1.47e+05
Hermosa                           -4.222e+04   5417.592     -7.794      0.000   -5.28e+04   -3.16e+04
Hessville                         -1.821e+05   5417.592    -33.618      0.000   -1.93e+05   -1.72e+05
Hill Arts District                -1.342e+04   5417.592     -2.477      0.013    -2.4e+04   -2799.733
Hollywood Park                     5.044e+04   5417.592      9.311      0.000    3.98e+04    6.11e+04
Homan Square                      -1.016e+05   5417.592    -18.752      0.000   -1.12e+05    -9.1e+04
Howard Street                      -2.48e+04   5417.592     -4.577      0.000   -3.54e+04   -1.42e+04
Humboldt Park                     -7115.6955   5417.592     -1.313      0.189   -1.77e+04    3504.517
Hyde Park                          1.027e+05   5417.592     18.957      0.000    9.21e+04    1.13e+05
Ida B. Wells - Darrow Homes        2.204e+04   5417.592      4.068      0.000    1.14e+04    3.27e+04
Illinois Medical District         -7.227e+04   5417.592    -13.340      0.000   -8.29e+04   -6.17e+04
Indiana Harbor                    -2.427e+05   5417.592    -44.801      0.000   -2.53e+05   -2.32e+05
Ingalls Park                      -1.765e+05   5417.592    -32.571      0.000   -1.87e+05   -1.66e+05
Irving Park                        1.096e+05   5417.592     20.237      0.000     9.9e+04     1.2e+05
Irving Woods                      -1.744e+04   5417.592     -3.218      0.001   -2.81e+04   -6816.192
Isetts                            -6.441e+04   5417.592    -11.889      0.000    -7.5e+04   -5.38e+04
Jackson Park Highlands              2.03e+05   5417.592     37.476      0.000    1.92e+05    2.14e+05
Jefferson Park                     1.594e+04   5417.592      2.942      0.003    5319.634    2.66e+04
Kelvin Park                       -2.162e+04   5417.592     -3.991      0.000   -3.22e+04    -1.1e+04
Kennedy Park                      -5.974e+04   5417.592    -11.026      0.000   -7.04e+04   -4.91e+04
Kenwood                             5.06e+04   5417.592      9.340      0.000       4e+04    6.12e+04
Kilbourn Park                       925.9295   5417.592      0.171      0.864   -9694.283    1.15e+04
Lake Calumet                      -1.736e+05   5417.592    -32.047      0.000   -1.84e+05   -1.63e+05
Lake Meadows                         3.8e+04   5417.592      7.014      0.000    2.74e+04    4.86e+04
Lake View                           2.43e+05   5417.592     44.845      0.000    2.32e+05    2.54e+05
Lake View East                      2.62e+04   5417.592      4.836      0.000    1.56e+04    3.68e+04
Lakes of the Four Seasons         -6.905e+04   5417.592    -12.745      0.000   -7.97e+04   -5.84e+04
Lakewood - Balmoral                7.374e+05   5417.592    136.110      0.000    7.27e+05    7.48e+05
Lance                             -1.196e+05   5417.592    -22.077      0.000    -1.3e+05   -1.09e+05
Lathrop Homes                      2.914e+05   5417.592     53.782      0.000    2.81e+05    3.02e+05
LeClaire Courts                   -1.109e+05   5417.592    -20.475      0.000   -1.22e+05      -1e+05
Lincoln Hills                     -6.413e+04   5417.592    -11.837      0.000   -7.47e+04   -5.35e+04
Lincoln Park                       3.812e+04   4546.372      8.385      0.000    2.92e+04     4.7e+04
Lincoln Square                      1.19e+05   5417.592     21.957      0.000    1.08e+05     1.3e+05
Lithuanian Plaza                  -1.382e+05   5417.592    -25.518      0.000   -1.49e+05   -1.28e+05
Little Village                    -1.432e+05   5417.592    -26.434      0.000   -1.54e+05   -1.33e+05
Logan Square                       1.012e+05   5417.592     18.673      0.000    9.05e+04    1.12e+05
Longwood Manor                    -1.527e+05   5417.592    -28.177      0.000   -1.63e+05   -1.42e+05
Magnolia Glen                      1.166e+05   5417.592     21.526      0.000    1.06e+05    1.27e+05
Main-Chicago                        4.44e+04   5417.592      8.196      0.000    3.38e+04     5.5e+04
Marquette Park                    -1.349e+05   4546.372    -29.679      0.000   -1.44e+05   -1.26e+05
Marycrest                         -4.113e+04   5417.592     -7.591      0.000   -5.17e+04   -3.05e+04
Marynook                          -1.314e+05   5417.592    -24.247      0.000   -1.42e+05   -1.21e+05
Mayfair                             3.31e+04   5417.592      6.111      0.000    2.25e+04    4.37e+04
McKinley                          -1.531e+05   5417.592    -28.268      0.000   -1.64e+05   -1.43e+05
McKinley Park                     -5.573e+04   5417.592    -10.288      0.000   -6.64e+04   -4.51e+04
Midtown                           -2.631e+05   5417.592    -48.573      0.000   -2.74e+05   -2.53e+05
Montclare                          -3.04e+04   5417.592     -5.611      0.000    -4.1e+04   -1.98e+04
Morgan Park                       -1.398e+05   5417.592    -25.798      0.000    -1.5e+05   -1.29e+05
Mount Greenwood                    -4.93e+04   5417.592     -9.099      0.000   -5.99e+04   -3.87e+04
Mount Greenwood Heights           -2.109e+04   5417.592     -3.893      0.000   -3.17e+04   -1.05e+04
Near North                         1.344e+05   5417.592     24.813      0.000    1.24e+05    1.45e+05
Near West Side                     1.175e+05   5417.592     21.694      0.000    1.07e+05    1.28e+05
New Eastside                       2.252e+05   5417.592     41.571      0.000    2.15e+05    2.36e+05
Noble Square                       1.834e+05   5417.592     33.847      0.000    1.73e+05    1.94e+05
North 5th Ward                    -1.213e+05   5417.592    -22.395      0.000   -1.32e+05   -1.11e+05
North Austin                      -9.379e+04   5417.592    -17.312      0.000   -1.04e+05   -8.32e+04
North Center                       4.496e+05   5417.592     82.993      0.000    4.39e+05     4.6e+05
North Kenwood                       771.7212   5417.592      0.142      0.887   -9848.491    1.14e+04
North Mayfair                      2.949e+04   5417.592      5.443      0.000    1.89e+04    4.01e+04
North Park                          4.75e+04   5417.592      8.768      0.000    3.69e+04    5.81e+04
Northeast                          1.493e+05   5417.592     27.558      0.000    1.39e+05     1.6e+05
Northeast Aurora                  -9.275e+04   5417.592    -17.119      0.000   -1.03e+05   -8.21e+04
Northside                          1.995e+05   5417.592     36.826      0.000    1.89e+05     2.1e+05
Northwest Aurora                  -1.365e+05   5417.592    -25.190      0.000   -1.47e+05   -1.26e+05
Norwood Park East                  4.586e+04   5417.592      8.466      0.000    3.52e+04    5.65e+04
Norwood Park West                  3.206e+04   5417.592      5.919      0.000    2.14e+04    4.27e+04
Noyes and Foster                   1.477e+05   5417.592     27.269      0.000    1.37e+05    1.58e+05
O'Hare                             8340.3879   5417.592      1.540      0.124   -2279.824     1.9e+04
O'Hare International Airport       5.188e+04   5417.592      9.577      0.000    4.13e+04    6.25e+04
Oakland                            4.077e+04   5417.592      7.526      0.000    3.02e+04    5.14e+04
Old Edgebrook                      3.722e+05   5417.592     68.703      0.000    3.62e+05    3.83e+05
Old Irving Park                    1.165e+05   5417.592     21.510      0.000    1.06e+05    1.27e+05
Old Norwood Park                   1.139e+05   5417.592     21.028      0.000    1.03e+05    1.25e+05
Old Town                           1.152e+05   5417.592     21.272      0.000    1.05e+05    1.26e+05
Old Town Triangle                  2.164e+05   5417.592     39.939      0.000    2.06e+05    2.27e+05
Oriole Park                        1.912e+04   5417.592      3.529      0.000    8495.926    2.97e+04
Park Manor                        -1.886e+05   5417.592    -34.820      0.000   -1.99e+05   -1.78e+05
Parkside                          -4.863e+04   5417.592     -8.976      0.000   -5.92e+04    -3.8e+04
Parkview                           -1.14e+05   5417.592    -21.037      0.000   -1.25e+05   -1.03e+05
Peterson Park                      8.817e+04   5417.592     16.275      0.000    7.76e+04    9.88e+04
Pigeon Hill                       -1.326e+05   5417.592    -24.480      0.000   -1.43e+05   -1.22e+05
Pill Hill                         -1.465e+05   5417.592    -27.043      0.000   -1.57e+05   -1.36e+05
Pilsen                              2.25e+04   5417.592      4.154      0.000    1.19e+04    3.31e+04

In [188]:
x_train,x_test,y_train,y_test = train_test_split(x_data, y_data, random_state=42)

In [189]:
rf= RandomForestClassifier(n_estimators=200)
rf= rf.fit(x_train, y_train)
rf.score(x_test, y_test)

0.0005747126436781609

In [193]:
rf.predict(x_test)
predictions = rf.predict(x_test)

In [217]:
predictions = pd.DataFrame(predictions)
predictions.head()
predictions.to_csv("predictions.csv")

In [214]:
y_test.head()
y_test.to_csv("y_testpredictions.csv")

/Users/rachelgreenebaum/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [216]:
predictions1 = pd.concat([predictions,y_test],axis=1)
predictions1

              0     value
0      628151.0       NaN
1      333997.0       NaN
2      348136.0       NaN
3      742342.0       NaN
4      249244.0       NaN
5       89111.0       NaN
6       73468.0       NaN
7      325661.0       NaN
8       88825.0  122564.0
9      127248.0       NaN
10      96399.0       NaN
11     368853.0       NaN
12     269579.0       NaN
13     162125.0       NaN
14      51526.0  270791.0
15     103265.0  146336.0
16      34169.0       NaN
17     480125.0  232301.0
18     473144.0       NaN
19     264993.0  100881.0
20     284157.0       NaN
21     300331.0       NaN
22     406273.0       NaN
23      73689.0  239913.0
24    1034341.0       NaN
25     122641.0       NaN
26     191928.0  229784.0
27     176316.0       NaN
28     219723.0       NaN
29     834679.0  102565.0
...         ...       ...
6829        NaN  225734.0
6834        NaN  423039.0
6837        NaN  334448.0
6841        NaN  221138.0
6843        NaN  114074.0
6844        NaN  337097.0
6847        NaN  764951.0
6853        NaN  137140.0
6860        NaN  270178.0
6862        NaN  259262.0
6872        NaN  204661.0
6876        NaN  138925.0
6883        NaN  325824.0
6884        NaN  233833.0
6890        NaN  159723.0
6896        NaN  301945.0
6902        NaN  560874.0
6903        NaN  394165.0
6905        NaN  181878.0
6908        NaN  344918.0
6911        NaN  172843.0
6917        NaN  178611.0
6924        NaN  188344.0
6931        NaN  201348.0
6935        NaN  266255.0
6936        NaN  233323.0
6940        NaN   62096.0
6942        NaN  253400.0
6951        NaN  164952.0
6954        NaN  174601.0

[3014 rows x 2 columns]

In [198]:
print(x_test)

      const  Year  Month  Aberdeen  Aetna  Ainsworth  Albany Park  Allendale  \
1335    1.0  2018      5         0      0          0            0          0
5677    1.0  2019      8         0      0          0            0          0
4578    1.0  2019      4         0      0          0            0          0
37      1.0  2018      1         0      0          0            0          0
5635    1.0  2019      8         0      0          0            0          0
101     1.0  2018      1         0      0          0            0          0
3221    1.0  2018     12         0      0          0            0          0
2418    1.0  2018      9         0      0          0            0          0
2183    1.0  2018      8         0      0          0            0          0
1042    1.0  2018      4         0      0          0            0          0
3470    1.0  2018     12         0      0          0            0          0
4059    1.0  2019      2         0      0          0            0          0
132     1.0  2018      1         0      0          0            0          0
1074    1.0  2018      4         0      0          0            0          0
1918    1.0  2018      7         0      0          0            0          0
642     1.0  2018      3         0      0          0            0          0
5014    1.0  2019      6         0      0          0            0          0
2191    1.0  2018      8         0      0          0            0          0
4151    1.0  2019      3         0      0          0            0          0
5579    1.0  2019      8         0      0          0            0          0
5619    1.0  2019      8         0      0          0            0          0
4983    1.0  2019      6         0      0          0            0          0
5274    1.0  2019      7         0      0          0            0          0
960     1.0  2018      4         0      0          0            0          0
3978    1.0  2019      2         0      0          0            0          0
2018    1.0  2018      7         0      0          0            0          0
2812    1.0  2018     10         0      0          0            0          1
5987    1.0  2019      9         0      0          0            0          0
1747    1.0  2018      7         0      0          0            0          0
6592    1.0  2019     11         0      0          0            0          0
...     ...   ...    ...       ...    ...        ...          ...        ...
6847    1.0  2019     12         0      0          0            0          0
4367    1.0  2019      4         0      0          0            0          0
4950    1.0  2019      6         0      0          0            0          0
6325    1.0  2019     10         0      0          0            0          0
5294    1.0  2019      7         0      0          0            0          0
5010    1.0  2019      6         0      0          0            0          0
4829    1.0  2019      5         0      0          0            0          0
3950    1.0  2019      2         0      0          0            0          0
3692    1.0  2019      1         0      0          0            0          0
4350    1.0  2019      4         0      0          0            0          0
1468    1.0  2018      6         0      0          0            0          0
5118    1.0  2019      6         0      0          0            0          0
2751    1.0  2018     10         0      0          0            0          0
2087    1.0  2018      8         0      0          0            0          0
5255    1.0  2019      7         0      0          0            0          0
6789    1.0  2019     12         0      0          0            0          0
107     1.0  2018      1         0      0          0            0          0
29      1.0  2018      1         0      0          0            0          0
3276    1.0  2018     12         0      0          0            0          0
3082    1.0  2018     11         0      0          0            0          0
3722    1.0  2019      1         0      0          0            0          0
2678    1.0  2018     10         0      0          0            0          0
2680    1.0  2018     10         0      0          0            0          0
751     1.0  2018      3         0      0          0            0          0
6829    1.0  2019     12         0      0          0            0          0
584     1.0  2018      3         0      0          0            1          0
1220    1.0  2018      5         0      0          0            0          0
6559    1.0  2019     11         0      0          0            0          0
1744    1.0  2018      7         0      0          0            1          0
3161    1.0  2018     11         0      0          0            0          0

      Altgeld Gardens  Ambrige Mann  ...  Wicker Park  Wildwood  Wilson  \
1335                0             0  ...            0         0       0
5677                0             0  ...            0         0       0
4578                0             0  ...            0         0       0
37                  0             0  ...            0         0       0
5635                0             0  ...            0         0       0
101                 0             0  ...            0         0       0
3221                0             0  ...            0         0       0
2418                0             0  ...            0         0       0
2183                0             0  ...            0         0       0
1042                0             0  ...            0         0       0
3470                0             0  ...            0         0       0
4059                0             0  ...            0         0       0
132                 0             0  ...            0         0       0
1074                0             0  ...            0         0       0
1918                0             0  ...            0         0       0
642                 0             0  ...            0         0       0
5014                0             1  ...            0         0       0
2191                0             0  ...            0         0       0
4151                0             0  ...            0         0       0
5579                0             0  ...            0         0       0
5619                0             0  ...            0         0       0
4983                0             0  ...            0         0       0
5274                0             0  ...            0         0       0
960                 0             0  ...            0         0       0
3978                0             0  ...            0         0       0
2018                0             0  ...            0         0       0
2812                0             0  ...            0         0       0
5987                0             0  ...            0         0       0
1747                0             0  ...            0         0       0
6592                0             0  ...            0         0       0
...               ...           ...  ...          ...       ...     ...
6847                0             0  ...            0         0       0
4367                0             0  ...            0         0       0
4950                0             0  ...            0         0       0
6325                0             0  ...            0         0       0
5294                0             0  ...            0         0       0
5010                0             0  ...            0         0       0
4829                0             0  ...            0         0       0
3950                0             0  ...            0         0       0
3692                0             0  ...            0         0       0
4350                0             0  ...            0         0       0
1468                0             0  ...            0         0       0
5118                0             0  ...            0         0       0
2751                0             0  ...            0         0       0
2087                0             0  ...            0         0       0
5255                0             0  ...            0         0       0
6789                0             0  ...            0         0       0
107                 0             0  ...            0         0       0
29                  0             0  ...            0         0       0
3276                0             0  ...            0         0       0
3082                0             0  ...            0         0       0
3722                0             0  ...            0         0       0
2678                0             0  ...            0         0       0
2680                0             0  ...            0         0       0
751                 0             0  ...            0         0       0
6829                0             0  ...            0         0       0
584                 0             0  ...            0         0       0
1220                0             0  ...            0         0       0
6559                0             0  ...            0         0       0
1744                0             0  ...            0         0       0
3161                0             0  ...            0         0       0

      Winfield  Winneconna Parkway  Woodlawn  Woodmar  Wrightwood  \
1335         0                   0         0        0           0
5677         0                   0         0        0           0
4578         0                   0         0        0           0
37           0                   0         0        0           0
5635         0                   0         0        0           0
101          0                   0         0        0           0
3221         0                   0         0        0           0
2418         0                   0         0        0           0
2183         0                   0         0        0           0
1042         0                   0         0        0           0
3470         0                   0         0        0           0
4059         0                   0         0        0           0
132          0                   0         0        0           0
1074         0                   0         0        0           0
1918         0                   0         0        0           0
642          0                   0         0        0           0
5014         0                   0         0        0           0
2191         0                   0         0        0           0
4151         0                   0         0        0           0
5579         0                   0         0        0           0
5619         0                   0         0        0           0
4983         0                   0         0        0           0
5274         0                   0         0        0           0
960          0                   0         0        0           0
3978         0                   0         0        0           0
2018         0                   0         0        0           0
2812         0                   0         0        0           0
5987         0                   0         0        0           0
1747         0                   0         0        0           0
6592         0                   0         0        0           0
...        ...                 ...       ...      ...         ...
6847         0                   0         0        0           0
4367         0                   0         0        0           0
4950         0                   0         0        0           0
6325         0                   0         0        0           0
5294         0                   0         0        0           0
5010         0                   0         0        0           0
4829         0                   0         0        0           0
3950         0                   0         0        0           0
3692         0                   0         0        0           0
4350         0                   0         0        0           0
1468         0                   0         0        0           0
5118         0                   0         0        0           0
2751         0                   0         0        0           0
2087         0                   0         0        0           0
5255         0                   0         0        0           0
6789         0                   0         0        0           0
107          0                   0         0        0           0
29           0                   0         0        0           0
3276         0                   0         0        0           0
3082         0                   0         0        0           0
3722         0                   0         0        0           0
2678         0                   0         0        0           0
2680         0                   0         0        0           0
751          0                   0         0        0           0
6829         0                   0         0        0           0
584          0                   0         0        0           0
1220         0                   0         0        0           0
6559         0                   0         0        0           0
1744         0                   0         0        0           0
3161         0                   0         0        0           0

      Wrightwood Neighbors  Wrigleyville
1335                     0             0
5677                     0             0
4578                     0             0
37                       0             0
5635                     0             0
101                      0             0
3221                     0             0
2418                     0             0
2183                     0             0
1042                     0             0
3470                     0             0
4059                     0             0
132                      0             0
1074                     0             0
1918                     0             0
642                      0             0
5014                     0             0
2191                     0             1
4151                     0             0
5579                     0             0
5619                     0             0
4983                     0             0
5274                     0             0
960                      0             0
3978                     0             0
2018                     0             0
2812                     0             0
5987                     0             0
1747                     0             0
6592                     0             0
...                    ...           ...
6847                     0             0
4367                     0             0
4950                     0             0
6325                     0             0
5294                     0             0
5010                     0             0
4829                     0             0
3950                     0             0
3692                     0             0
4350                     0             0
1468                     0             0
5118                     0             0
2751                     0             0
2087                     0             0
5255                     0             0
6789                     0             0
107                      0             0
29                       0             0
3276                     0             0
3082                     0             0
3722                     0             0
2678                     0             0
2680                     0             0
751                      0             0
6829                     0             0
584                      0             0
1220                     0             0
6559                     0             0
1744                     0             0
3161                     0             0

[1740 rows x 289 columns]

In [199]:
print(y_data)

0       382712
1       133000
2       293734
3       140485
4       325903
5       289270
6       528449
7       211116
8       122564
9       171176
10       50054
11      300193
12      297906
13      378823
14      270791
15      146336
16      331141
17      232301
18      315186
19      100881
20      256914
21       83607
22      190736
23      239913
24      255699
25      147073
26      229784
27      427144
28       84402
29      102565
         ...
6930    431950
6931    201348
6932    108824
6933    249574
6934    154657
6935    266255
6936    233323
6937    646333
6938    496516
6939    166886
6940     62096
6941    119529
6942    253400
6943    439776
6944    334967
6945     52958
6946    371627
6947    118053
6948    136248
6949    201486
6950    111448
6951    164952
6952    345138
6953    344595
6954    174601
6955     48799
6956    232497
6957    296050
6958    117942
6959    364341
Name: value, Length: 6960, dtype: int64

In [202]:
model_dataset.dtypes

value                   int64
Year                    int64
Month                   int64
Aberdeen                int64
Aetna                   int64
Ainsworth               int64
Albany Park             int64
Allendale               int64
Altgeld Gardens         int64
Ambrige Mann            int64
Andersonville           int64
Arcadia Terrace         int64
Archer Heights          int64
Arrow Wood              int64
Ashburn                 int64
Avalon Park             int64
Avondale                int64
Back of the Yards       int64
Bain Park               int64
Belmont Central         int64
Belmont Gardens         int64
Belmont Heights         int64
Belmont Terrace         int64
Beverly                 int64
Beverly View            int64
Beverly Woods           int64
Big Oaks                int64
Big Woods               int64
Black Oak               int64
Blackhawk               int64
                        ...
West Beverly            int64
West Chatham            int64
West Chesterfield       int64
West De Paul            int64
West Elsdon             int64
West End                int64
West Englewood          int64
West Garfield Park      int64
West Humboldt Park      int64
West Lawn               int64
West Loop Gate          int64
West Morgan Park        int64
West Park               int64
West Pullman            int64
West Rogers Park        int64
West Side               int64
West Town               int64
West Village            int64
West Woodlawn           int64
White Caps              int64
Wicker Park             int64
Wildwood                int64
Wilson                  int64
Winfield                int64
Winneconna Parkway      int64
Woodlawn                int64
Woodmar                 int64
Wrightwood              int64
Wrightwood Neighbors    int64
Wrigleyville            int64
Length: 289, dtype: object

In [203]:
data.value

0       382712
1       133000
2       293734
3       140485
4       325903
5       289270
6       528449
7       211116
8       122564
9       171176
10       50054
11      300193
12      297906
13      378823
14      270791
15      146336
16      331141
17      232301
18      315186
19      100881
20      256914
21       83607
22      190736
23      239913
24      255699
25      147073
26      229784
27      427144
28       84402
29      102565
         ...
6930    431950
6931    201348
6932    108824
6933    249574
6934    154657
6935    266255
6936    233323
6937    646333
6938    496516
6939    166886
6940     62096
6941    119529
6942    253400
6943    439776
6944    334967
6945     52958
6946    371627
6947    118053
6948    136248
6949    201486
6950    111448
6951    164952
6952    345138
6953    344595
6954    174601
6955     48799
6956    232497
6957    296050
6958    117942
6959    364341
Name: value, Length: 6960, dtype: int64

In [204]:
print(y_test)

1335     625290
5677     333466
4578     344554
37       733637
5635     251188
101       88572
3221      74044
2418     323597
2183      89865
1042     126775
3470      96990
4059     370183
132      259126
1074     164839
1918      52771
642      542388
5014      34021
2191     478879
4151     471846
5579     266325
5619     281570
4983     300917
5274     404714
960       74432
3978    1035175
2018     121120
2812     193188
5987     175295
1747     219828
6592     833739
         ...
6847     764951
4367     238739
4950     263574
6325     183009
5294     141670
5010     312561
4829     157304
3950     332804
3692     841945
4350     391518
1468     317646
5118     249893
2751     346729
2087     257718
5255     122740
6789     330191
107      340328
29       102565
3276     306567
3082     160908
3722      97468
2678     132389
2680     264625
751      216245
6829     225734
584      332346
1220     192280
6559     157435
1744     326011
3161     189366
Name: value, Length: 1740, dtype: int64